<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header">
    <div class="user-info">
      <span class="material-icons user-avatar">account_circle</span>
      <div>
        <p class="sidebar-username">{{ username }}</p>
        <p class="sidebar-email">{{ email }}</p>
      </div>
    </div>
    <button class="close-btn" (click)="closeSidebar.emit()">
      <span class="material-icons">close</span>
    </button>
  </div>

  <ul class="sidebar-menu">
    <li (click)="settingsClicked.emit()">
      <span class="material-icons">settings</span>
      <span>Settings</span>
    </li>

    <li (click)="logoutClicked.emit()">
      <span class="material-icons">logout</span>
      <span>Logout</span>
    </li>
  </ul>
</div>
