
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@400;600&display=swap');

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body {
  height: 100%;
  overflow: hidden;
}
