<app-top-bar
  [username]="username"
  (toggleSidebar)="toggleSidebar()"
></app-top-bar>

<app-sidebar
  [isOpen]="sidebarOpen"
  [username]="username"
  [email]="email"
  (closeSidebar)="toggleSidebar()"
  (settingsClicked)="goToSettings()"
  (logoutClicked)="logout()"
></app-sidebar>

<main class="home-wrapper">

  <!-- TOP-LEFT DECORATION -->
  <img src="assets/illustrations/corner.png" class="decor-top-left" alt="" />

  <!-- LEFT SIDE (text) -->
  <div class="left-content">
    <h1>Unde concentrarea și starea ta se întâlnesc</h1>
    <p>
      Concentrează‑te, observă‑ți starea și mergi mai departe cu intenție.
    </p>
    <button (click)="startFocusSession()">Începe sesiunea</button>
  </div>

  <!-- RIGHT SIDE (illustration) -->
  <div class="right-illustration">
    <img src="assets/illustrations/home2.jpg" alt="Bloom illustration" />
  </div>

</main>
