<div class="topbar">
  <div class="app-name">Bloom</div>

  <div class="nav-items">
    <button mat-icon-button (click)="goHome()">
      <span class="material-icons">home</span>
      <span class="label">Home</span>
    </button>

    <button mat-icon-button (click)="goFocusGarden()">
      <span class="material-icons">park</span>
      <span class="label">Focus</span>
    </button>

    <button mat-icon-button (click)="goMoodGarden()">
      <span class="material-icons">spa</span>
      <span class="label">Mood</span>
    </button>

    <button mat-icon-button (click)="goOverview()">
      <span class="material-icons">insights</span>
      <span class="label">Overview</span>
    </button>

    <div class="user-section" (click)="toggleSidebar.emit()">
      <span class="username">{{ username }}</span>
      <span class="material-icons user-icon">account_circle</span>
    </div>
  </div>
</div>
